.Fabriquer {
	width: 100%;
	max-width: 800px;
	margin: auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.Fabriquer button {
	background: rgba(100, 100, 100, 0.75);
	color: white;
	border: 3px solid #000;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px;
	font-size: 1em;
	padding: 10px 15px;
	transition: 0.3s;
	border: 3px solid rgb(255, 255, 255);
}

.Fabriquer button:nth-of-type(5) {
	grid-column-start: 1;
	grid-column-end: 3;
}

.Fabriquer button:hover {
	background: rgba(100, 100, 100, 0.95);
}
