.App .content {
	width: 100%;
	max-width: 800px;
	margin: auto;
	background: rgba(100, 100, 100, 0.75);
	text-align: center;
	border: 3px solid #000;
	padding: 30px;
	margin-top: 50px;
	color: white;
	border: 3px solid rgb(255, 255, 255);
}

.App .content h1 {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
}

.App .cookies span {
	font-size: 10em;
	display: block;
}
.App .cookies {
	font-weight: bold;
}

.App .result {
	display: flex;
	justify-content: space-between;
}
